<% c++ #include <data/pages/song.h> %>
<% skin pasta %>
<% view editSong uses data::EditSongPage extends master %>

<% template pageContent() %>
<h2><% include title() %></h2>
<article id="edit-song">
    <hr />
    <a class='js-show-video' target="_blank" href="<%= song.url %>" alt="<%= song.url %>"
            title="<% gt "Watch {1} video clip" using song.title %>" >
        <% gt "Preview" %>
        <span class='flaticon-big-play-button'></span>
    </a>
    <hr />

    <form method="post">
    <% form as_p input %>
    </form>
</article>
<% end template %>

<% end view %>
<% end skin %>
