<% c++ #include <data/playlist.h> %>
<% skin pasta %>
<% view newPlaylist uses data::PagePlaylist extends master %>

<% template pageCss() %>
<% include master::pageCss() %>
<link rel="stylesheet" type="text/css" href="<%= mediaRootUrl %>/js/bootstrap-datepicker-1.5.1/css/bootstrap-datepicker3.min.css" />
<% end %>

<% template pageJs() %>
<% include master::pageJs() %>
<script type="text/javascript" src="<%= mediaRootUrl %>/js/bootstrap-datepicker-1.5.1/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="<%= mediaRootUrl %>/js/playlist/new.js"></script>
<% end %>

<% template pageContent() %>
<h2><% include title() %></h2>
<article id="new-playlist">
    <form method="post" enctype="multipart/form-data">
    <% include alerts() %>
    <% form as_p input %>
    </form>
</article>

<% end template %>

<% end view %>
<% end skin %>
