<% c++ #include <data/pages/playlist.h> %>
<% skin pasta %>
<% view playlist uses data::PlaylistPage extends master %>

<% template pageJs() %>
<% include master::pageJs() %>
    <script type="text/javascript" src="<%= publicUrl %>/js/playlist/player.js"></script>
    <script type="text/javascript" src="<%= publicUrl %>/js/playlist/votes.js"></script>
    <script type="text/javascript" src="<%= publicUrl %>/js/playlist/comments.js"></script>
<% end %>

<% template player() %>
    <audio style="width:100%" preload="auto" tabindex="0" controls="true" autoplay="false">
        <source src="">
    </audio>
<% end %>

<% template comments() %>
    <div class='comments-wrapper' data-id='<%= id %>'>
        <h2><% gt "Comments" %></h2>

        <div class='alert-danger' style='display: none'>Service unavailable, please retry later.</div>
        <div class='alert-success' style='display: none'>Thanks for submitting your comment, it should appear soon.</div>

        <div class='add-comment'>
            <textarea placeholder='<% gt "Go, you know you want to say it !" %>' maxlength='300'></textarea>
            <button type='button'><span class='flaticon-send-symbol'></span></button>
        </div>

        <% foreach comment in comments %>
        <div class='all-comments'>
            <% item %>
            <div class='one-comment'>
                <div>
                <% if comment.author.hasAvatar() %>
                    <img src='<%= publicUrl %><%= comment.author.avatar.file %>' alt='avatar'>
                <% else %>
                    <img src='<%= publicUrl %>/images/default-user.jpg' alt='avatar'>
                <% end %>
                </div>
                <div>
                    <div class='information'>
                        <%= comment.author.alias %>
                        <small><%= comment.creation | strftime("%F") %></small>
                    </div>
                    <div class='content'><%= comment.comment %></div>

                    <% foreach reply in comment.replies %>
                    <div class='sub-comments'>
                        <% item %>
                        <div class='one-comment'>
                            <div>
                            <% if reply.author.hasAvatar() %>
                                <img src='<%= publicUrl %><%= reply.author.avatar.file %>' alt='avatar'>
                            <% else %>
                                <img src='<%= publicUrl %>/images/default-user.jpg' alt='avatar'>
                            <% end %>
                            </div>
                            <div>
                                <div class='information'>
                                    <%= reply.author.alias %>
                                    <small><%= reply.creation | strftime("%F") %></small>
                                </div>
                                <div class='content'><%= reply.comment %></div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <% end foreach %>

                    <div class='reply' data-parent='<%= comment.id %>'>
                        <textarea placeholder='<% gt "Add your 2 cents, respectfully" %>' maxlength='150'></textarea>
                        <button type='button'><span class='flaticon-send-symbol'></span></button>
                    </div>

                </div>
            </div>
            <% end %>
        </div>
        <% end foreach %>
    </div>
<% end %>

<% template pageContent() %>
    <div class="content-wrap">
        <section id="section-linebox-1" class="content-current">
            <div class='playlist-wrapper' id='js-playlist' data-id='<%= id %>'>
                <div class='description'>
                    <div>
                    <% if not empty image %>
                        <img class="img-thumbnail" src="<%= publicUrl %><%= image %>" />
                    <% end %>
                    </div>
                    <div>
                        <h2><% include title() %></h2>
                        <% if autoGenerated %>
                            <span><%= songs.size() %> <% gt "tracks" %></span>
                        <% else %>
                            <span class="date"><%= publication | strftime("%B %Y") %></span>
                            <span class='nb-song'><%= songs.size() %> <% gt "tracks" %></span>
                            <% if ( content.user.level >= content.user.CITIZEN ) %>
                            <div class='rating-wrapper'>
                                <span id='js-pl-like'
                                    class='flaticon-square <% if vote.isLike() %>selected<% end %>'
                                    title='<% gt "I like {1}" using name %>'></span>
                                <span id='js-pl-dislike'
                                    class='flaticon-sad-face-in-rounded-square <% if vote.isDislike() %>selected<% end %>'
                                    title="<% gt "I don't like {1}" using name %>"></span>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                    <div>
                    <% if empty description %>
                        <% gt "This playlist is about love and passion." %>
                    <% else %>
                        <%= description %>
                    <% end %>
                    </div>
                </div>
                <table class='tracks' id='js-songs'>
                    <thead>
                        <tr>
                            <td style='width: 60px;'></td>
                            <td style='width: 60px;'></td>
                            <td style='width: 30%;'></td>
                            <td style='width: 30%;'></td>
                            <td style='width: 15%;'></td>
                            <td style='width: 15%;'></td>
                            <% if ( content.user.level >= content.user.ADMINISTRATOR ) %>
                            <td style='width: 60px;'></td>
                            <% end %>
                            <td style='width: 15%;'></td>
                            <% if ( content.user.level >= content.user.CITIZEN ) %>
                            <td style='width: 30px;'></td>
                            <td style='width: 30px;'></td>
                            <% end %>
                            <% if autoGenerated %>
                            <td style='width: 60px;'></td>
                            <% end %>
                        </tr>
                    </thead>
                    <% foreach song in songs %>
                    <tbody>
                        <% item %>
                        <tr data-id='<%= song.id %>' >
                            <td class='selectable secondary-information'><span class='num-song'></span></td>
                            <td class='selectable play'><span /></td>
                            <td class='selectable' title='<%= song.title %>'>
                                <a class="js-song" href="<%= publicUrl %><%= song.file %>">
                                    <%= song.title %>
                                </a>
                            </td>
                            <td class='selectable' title='<%= song.artist.name %>'><%= song.artist.name %></td>
                            <td class='selectable secondary-information duration'><%= song.duration | strftime("%M:%S") %></td>
                            <td class='selectable secondary-information'><%= song.proposer %></td>
                            <% if ( content.user.level >= content.user.ADMINISTRATOR ) %>
                            <td class='secondary-information'>
                                <a href="<% url "/song" %>/edit/<%= song.id %>"
                                        target="_blank"
                                        title="<% gt "Modify song {1}" using song.title %>" >
                                    <span><small>EDIT</small></span>
                                </a>
                            </td>
                            <% end %>
                            <td class='secondary-information'>
                            <% if empty song.url %>
                            <% elif song.showVideo %>
                                <a class='js-show-video' target="_blank" href="<%= song.url %>" alt="<%= song.url %>"
                                        title="<% gt "Watch {1} video clip" using song.title %>" >
                                    <span class='flaticon-big-play-button'></span>
                                </a>
                            <% end %>
                            </td>
                            <% if ( content.user.level >= content.user.CITIZEN ) %>
                            <td class='secondary-information'>
                                <span class='flaticon-square js-song-like <% if song.vote.isLike() %>selected<% end %>'
                                        title='<% gt "I like {1}" using song.title %>'></span>
                            </td>
                            <td class='secondary-information'>
                                <span class='flaticon-sad-face-in-rounded-square js-song-dislike <% if song.vote.isDislike() %>selected<% end %>'
                                        title="<% gt "I don't like {1}" using song.title %>"></span>
                            </td>
                            <% end %>
                            <% if autoGenerated %>
                            <td class='selectable secondary-information'>
                                <span title='<% gt "Total song votes + (playlist votes)/2 = {1,num=fix,p=1}" using song.vote.totalValues %>'>
                                    <% gt "{1,num=fix,p=1}" using song.vote.totalValues %>
                                </span>
                            </td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                    <% end foreach %>
                </table>

            </div>

            <% if not autoGenerated %>
                <% include comments() %>
            <% end %>

        </section>
    </div>
    <% include player() %>
<% end %>

<% end view %>
<% end skin %>
