
.comments-wrapper {
    h2 {
        margin-bottom: 20px;
    }
    .add-comment {
        position: relative;
        height: 70px;
        border: 1px solid darken($dark-contrast-color, 10%);
        margin-bottom: 20px;

        @include border-radius(4px);

        textarea {
            width: calc(100% - 40px);
            max-width: calc(100% - 40px);
            height: 100%;
            max-height: 100%;
            padding: 4px;
            font-size: 14px;
            color: white;
            border: none;
            background: $medium-contrast-color;
            resize: none;

            @include border-left-radius(4px);
            @include placeholder {
                font-style: italic;
                color: $light-contrast-color;
            }

            &:focus {
                border: none;
                outline: none;

                @include box-shadow( inset 0 0 0 1px $primary-color);
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            border: none;
            background: $primary-color;
            cursor: pointer;

            @include border-right-radius(4px);

            span:before {
                font-size: 18px;
                color: white;
            }

            &:hover {
                background-color: lighten($primary-color, 7%);
            }

            &:focus {
                outline: none;
            }

            &:active {
                outline: none;
                @include box-shadow(inset 0 1px 3px 0 rgba(0,0,0,0.3));
                background-color: darken($primary-color, 7%);
            }
        }
    }

    .all-comments {
        .one-comment {
            display: table;
            width: 100%;

            > div {
                display: table-cell;
            }

            & + .one-comment {
                margin-top: 20px;
            }
        }
    }
}

.one-comment {
    > div:first-child {
        width: 60px;
        text-align: left;
        vertical-align: top;

        img {
            width: 50px;

            @include border-radius(4px);
        }
    }

    > div:last-child {
        font-size: 14px;
        .information {
            margin-bottom: 6px;
            color: white;

            small {
                font-size: 13px;
                opacity: 0.8;
                float: right;
            }
        }

        .content {
            color: $light-contrast-color;
            text-align: justify;
        }

        .sub-comments {
            margin: 20px 0;
            margin-left: 20px;
        }

        .reply {
            position: relative;
            height: 40px;
            margin-top: 10px;
            border: 1px solid darken($dark-contrast-color, 10%);

            @include border-radius(4px);

            textarea {
                width: calc(100% - 30px);
                max-width: calc(100% - 30px);
                height: 100%;
                max-height: 100%;
                padding: 4px;
                font-size: 14px;
                color: white;
                border: none;
                background: $medium-contrast-color;
                resize: none;

                @include border-left-radius(4px);
                @include placeholder {
                    font-style: italic;
                    color: $light-contrast-color;
                }

                &:focus {
                    border: none;
                    outline: none;
                    @include box-shadow( inset 0 0 0 1px $primary-color);
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 100%;
                border: none;
                background: $primary-color;
                cursor: pointer;

                @include border-right-radius(4px);

                span:before {
                    font-size: 12px;
                    color: white;
                }

                &:hover {
                    background-color: lighten($primary-color, 7%);
                }

                &:focus {
                    outline: none;
                }

                &:active {
                    outline: none;
                    @include box-shadow(inset 0 1px 3px 0 rgba(0,0,0,0.3));
                    background-color: darken($primary-color, 7%);
                }
            }
        }
    }
}
