body {
    position: relative;
    left: 0;
    transition: left 0.5s ease;

    @include vendor-prefixes(transform, translateZ(0));

    &.pushed {
        left: -60vh;
    }
}

#profile {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: -60vh;
    width: 60vh;
    height: 100vh;
    background: url('../images/bg-profile.jpg') $primary-color repeat-x top ;
    transition: right 2s ease;

    @include box-shadow(inset 0 0 10px 0 rgba(black, 0.7));
}

#profile > div:nth-child(1) {
    display: table;
    width: 100%;
    height: 120px;

    > div {
        display: table-cell;
        padding: 15px 0;
        vertical-align: middle;
    }

    > div:nth-child(1) {
        width: 25%;

        .avatar {
            position: relative;
            width: 90px;
            margin: auto;

            > div {
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
                height: 90px;
                padding: 25px 0;
                opacity: 0;
                color: $medium-contrast-color;
                transition: opacity  0.4s ease-in-out;
                text-align: center;

                @include border-radius(4px);
            }

            &:hover > div {
                opacity: 1;
                background: rgba($primary-color, 0.80);
                cursor: pointer;
            }
        }

        img {
            width: 90px;

            @include border-radius(4px);
        }
    }

    > div:nth-child(2) {
        width: 30%;
        padding-left: 10px;
        font-weight: 300;
        text-align: left;

        h2 {
            margin-bottom: 6px;
        }

        span {
            font-size: 12px;
            color: $light-contrast-color;

            &.number {
                margin-right: 10px;
                font-size: 20px;
            }
        }
    }

    > div:nth-child(3) {
        width: 45%;
        text-align: right;

        button {
            position: relative;
            width: 90%;
            height: 40px;
            padding-left: 50px;
            font-size: 13px;
            font-weight: 600;
            color: white;
            border: none;
            background: $primary-color;
            cursor: pointer;
            transition: transform 0.5s ease-in-out;
            transform: translate(calc(100% - 50px),0);
            text-transform: uppercase;

            @include border-left-radius(4px);

            &:before {
                position: absolute;
                top: 7px;
                left: 13px;
                font-size: 26px;
            }

            &:hover {
                background-color: lighten($primary-color, 7%);
                transform: translate(0,0);
            }

            &:focus {
                outline: none;
            }

            &:active {
                outline: none;
                background-color: darken($primary-color, 7%);

                @include box-shadow(inset 0 1px 3px 0 rgba(0,0,0,0.3));
            }
        }
    }
}

#profile > div:nth-child(2) {
    height: calc(100% - 280px);
    margin: 80px 20px;

    > div:first-child {
        height: 60px;
    }

    > div:last-child {
        clear: both;
        overflow-y: auto;
        height: calc(100% - 80px);
        padding-right: 20px;

        &::-webkit-scrollbar-track {
            width: 10px;
            border-radius: 2px;
            background-color: #111111;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            width: 4px;
            border-radius: 2px;
            background-color: $light-contrast-color;
        }
    }

    h3 {
        float: left;
    }

    h3 + input {
        float: right;
        width: 40%;
        height: 30px;
        padding: 5px;
        font-size: 14px;
        font-weight: 300;
        border: darken($primary-color, 7%) 1px solid;
        background: white;

        @include border-radius(4px);
        @include placeholder {
            font-style: italic;
            color: $light-contrast-color;
        }
    }

    table {
        width: 100%;
        max-height: 100%;
        margin-right: 20px;
        table-layout: fixed;
        border-top: 1px solid rgba(white, 0.20);

        tbody tr {
            border-bottom: 1px solid rgba(white, 0.20);

            &:hover {
                background: white;

                td:first-child {
                    color: $primary-color;
                }
            }
        }

        tbody td {
            overflow: hidden;
            height: 40px;
            padding: 0 5px;
            font-size: 14px;
            color: $medium-contrast-color;
            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:first-child {
                color: white;
                text-align: center;
            }

            a {
                color: $medium-contrast-color;
            }
        }
    }
}
